<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="contentFragment1">
    <h2 class="mt-4">회원관리</h2>

    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>John</td>
            <td>Doe</td>
            <td>@johndoe</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jane</td>
            <td>Smith</td>
            <td>@janesmith</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Mark</td>
            <td>Twain</td>
            <td>@marktwain</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="contentFragment2">
    <h2>업체관리<h2>
</div>
</body>
</html>