<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="fragments/head::headFragment"></th:block>

<body>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/home.js"></script>

<th:block th:replace="fragments/navbar::navbarFragment"></th:block>

<div>
    <!--span th:text="|${memberInfo.email} 님 환영합니다|"></span-->
<span th:if="${memberInfo != null}" th:text="${#authentication.principal.email}"></span>
</div>

</body>
</html>